<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  <!-- <div>
    <marquee ><img src="images/K53.png" style="width:100%">
  <img src="images/d.png" style="width:100%">
  <img src="images/learners.png" style="width:100%">
  <img src="images/l.png" style="width:100%">
</marquee></div> -->

  <img src="../../assets/DOT.PNG" style="width:100%">



  <div class="mySlides fade">
    <img src="images/K53.png" style="width:100%">
  </div>
  

  <div class="mySlides fade">
    <img src="images/d.png" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="images/learners.png" style="width:100%">
  </div>
  <div class="mySlides fade">
    <img src="images/l.png" style="width:100%">


    
  </div>

  <script>
    var slideIndex = 0;
    showSlides();





    function showSlides() {
      var i;

      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
     
     
     slideIndex++;

      if (slideIndex > slides.length) { slideIndex = 1 }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
      setTimeout(showSlides, 3000); // Change image every 2 seconds
    }
  </script>
</body>
